.catalog-layout {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  &__sidebar {
    max-width: 203px;
    padding-top: 39px;
  }

  &__main {
    width: 952px;
  }
}

@media (max-width: 878px) {
  .catalog-layout {
    flex-direction: column;

    &__main {
      width: 90%;
      margin: 0 auto;
    }

    &__sidebar {
      max-width: 60%;
      margin: 0 auto;
    }
  }
}


@media (max-width: 550px) {

  .catalog-layout {
    &__sidebar {

      max-width: 90%;
    }
  }
}