.navigation {
    margin-left: auto;

    &__list {
        @include list-reset;
        display: flex;
        margin-right: 5px;
        padding-bottom: 15px;
    }

    &__item {
        font-family: HelveticaNeueCyr, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 15px;
        color: #484B4C;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

@media (max-width: 768px) {
    .navigation {
        margin: 0 auto;
        margin-top: 20px;
    }
}