.page-header {
  width: 100%;
  background-color: #e2e2e2;
  z-index: 111;

  &__wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    min-height: 110px;
    padding-top: 11px;
  }

  &__logo {
    margin-right: 55px;
  }

  &__toggler {
    display: none;
  }
}

@media (max-width: 1200px) {
  .page-header {
    &__wrapper {
      padding-right: 25px;
      padding-left: 25px;
    }
  }
}

@media (max-width: 768px) {
  .page-header {
    &__wrapper {
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__toggler {
      display: block;
    }
    &__logo {
      margin: 0 auto;
    }
  }
}

@media (max-width: 550px) {
  .page-header {
    &__wrapper {
      justify-content: center;
    }
  }
}
